@import url("https://fonts.googleapis.com/css?family=Gayathri&display=swap");
.heading-primary {
  font-size: 4rem;
  font-weight: 100;
  font-family: "Gayathri", sans-serif;
  display: inline-block;
}
